<html>

<head>
  <title>Appname</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'form_builder', 'data-turbolinks-track': 'reload' %>

</head>

<body>

    <div class="d-flex justify-content-center">
      <div class="col-sm-10 col-md-4 col-lg-4 form-container">
      <div class="form-header">
        <div>Book an Appointment</div>
      </div>
      <div class="label">Coach: </div>
      <div id="coachContainer" class="input-field"></div>
      <div class="label">Date: </div>
      <div id="dateContainer" class="input-field"></div>
      <div class="label">Local Time: </div>
      <div id="timeContainer" class="input-field"></div>
      <div class="center">
        <button id="bookButton" class="button">Book</button>
      </div>
    </div>
    </div>
</body>
</html>
